<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./node_modules/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="first">+
            <input type="text" v-model="last">=
            <input type="text" v-model="full">
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    first:"",
                    last:"",
                },
                computed:{
                    full(){
                        return this.first+this.last
                    }
                }
            })
        </script>
    </body>
</html>